* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #004346, #8a623d, #c87629);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 2rem 1rem;
  width: 90vw;
  height: 70vh;
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.qnumber {
  font-size: 3rem;
  font-weight: 700;
  opacity: 20%;
  text-align: center;
}

.question-text {
  font-size: 2rem;
  font-weight: 800;
  
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}



.answer {
  font-size: 1.5rem;
  color:orange;
  margin-left: 1rem;
}



.next-btn {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  background-color:  #00c4cc;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.next-btn:hover {
  background-color: #ffcc52;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.survey-text{
  font-size: 3rem;
  padding: 1rem;
  color: white;
  text-align: center;
}

.restart-btn{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  background-color:  #00c4cc;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.main div{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
.card{
  padding: 2rem;
}
  .qnumber{
  font-size: 4rem;
}
.question-text{
  font-size: 3rem;
}
.answers{
  gap: 1.5rem;
}
.next-btn{
  padding:2rem;
}

}

@media screen and (min-width: 992px)  {
  .card{
  padding: 3rem;
  align-items: center;
  height: 80vh;
}
  .qnumber{
  font-size: 4rem;
}
.question-text{
  font-size: 4rem;
  text-align: center;
}
.answers{
  gap: 1.5rem;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
}

.answers li{
  display: flex;
  flex-direction: column;
  gap:2rem;
}

.answer{
  font-size: 2rem;
}

.next-btn{
  padding:2rem;
  width: 60vw;
}

}
